<section class="siteLayout" (mousedown)="trigeringMovingBackground($event)" (mousemove)="movingBackground($event)"
  (mouseup)="stoppingMovingBackground($event)">
  <div #background tabindex="-1" class="background">
    <!-- <svg class="svgOverlay" height="100%"  width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" >
    <g  class="groupedElements"transform="translate(-1422.741338612365, -678.1692532493298) scale(0.84)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

    </g>
   </svg> -->
  </div>
  <div id="workArea" class="workArea">
    <app-arduino></app-arduino>
    <app-arduino></app-arduino>
    <app-arduino></app-arduino>
    <app-arduino></app-arduino>
    </div>
 
  <app-sidenav></app-sidenav>
</section>