<div class="sidenavLayout">
  <button class="cat1" ></button>
  <button class="cat1" ></button>
  <button class="cat1" ></button>
  <button class="cat1" ></button>
  <button class="cat1" ></button>
  <hr>
  
  <button class="elem1"id="arduino_btn" ></button>
  <button class="elem1" ></button>
  <button class="elem1" ></button>
  
  <button class="elem1" ></button>
  <button class="elem1" ></button>
  <button class="elem1" ></button>
  
  <button class="elem1" ></button>
  <button class="elem1" ></button>
  <button class="elem1" ></button>
  
  <button class="elem1" ></button>
  <button class="elem1" ></button>
  <button class="elem1" ></button>
  
  <button class="elem1" ></button>
  <button class="elem1" ></button>
  <button class="elem1" ></button>
  
  <button class="elem1" ></button>
  <button class="elem1" ></button>
  <button class="elem1" ></button>
  
</div>
